@import "bootstrap.css";
.mobile_menu {
 display: none;
}
.main-header {
	background-color: #00182b;
  	border-bottom: 10px solid #005290;
  	margin: 0;
	height: 124px;
	position: relative;
	line-height: 124px;
}
header {
	line-height: 124px;
}
.search_input{
	z-index: 9999;
}
.more {
	padding: 10px 15px 10px 15px;
	background-color: #fff;
	color: #00182b;
	text-decoration: none;
}
.more::after {
	content: url("../images/next3.png");
	margin-left: 10px;
	top: 4px;
	position: relative;
}
.more:hover:after {
	content: url("../images/next4.png");
}
.more:hover {
	background-color: #1e2c36;
	color: #fff;
	text-decoration: none;
}
@media (max-width: 1366px) {
  	h1,.h1 {
   		font-size: 42px;
  	}
  	.main-header.fixed .navbar2 {
		margin-top: -55px !important;
		margin-right: 60px !important;
	}
	.main-header.fixed .search {
		position: relative !important;
		right: 10px !important;
	}
}
@media screen and (max-width: 1250px) {
	#myCarousel .prev,.next {
		display: none;
	}
}
@media screen and (max-width: 768px) {
    .navbar-header .mobile_menu {
        display: flex;align-items: center;justify-content: center;width: 100%;
    }
	.navbar-header .navbar-brand.logo{
	position: absolute;
	left: 0;
	right: 0;
	margin: 9px auto;
		height: 34px!important;
	}
	.row div.cols {
    	margin-left: 0 !important;
    	margin-right: 0 !important;
	}
	h1,.h1 {
    	font-size: 20px;
  	}
  	#myCarousel .carousel-caption p {
		display: block !important;
		font-size: 16px !important;
	}
	.main-header.fixed .navbar_show {
		position: relative;
		display: block !important;
	}
	.main-header.fixed .logo {
		display: none;
	}
	.fixed_top {
		display: none !important;
	}
	#myNavbar {
		width: 100%;
		position: relative;
		background: rgba(0,24,43,0.85);
		margin-top: -50px !important;
		z-index: 9999 !important;
		border: none !important;
	}
	#myNavbar .nav li {
    	border-bottom: 1px solid rgba(255,255,255,0.25) !important;
    	width: 100% !important;
	}
	.dropdown-menu li {
		background: rgba(4,18,29,0.9) !important;
	}
	.dropdown-menu li:hover a {
		color: #fff !important;
	}
	.dropdown-menu li:hover {
		background-color: #005290 !important;
	}
	.main-header.fixed .navbar2 {
		margin-top: 0 !important;
		margin-right: 0 !important;
		font-size: 14px !important;
		font-weight: 300 !important;
	}
	.navbar2 {
		margin-top: 0 !important;
	}
	.transition {
		position: absolute !important;
		right: 0 !important;
		display: block !important;
		z-index: 9999;
		width: 40px;
		height: 40px;
		background: rgba(0,24,43,0.85);
		text-align: center;
		color: #fff !important;
		line-height: 40px !important;
		font-size: 2em;
	}
	/*.dis {
		pointer-events: none;
   		cursor: default;
	}*/
	#lang {
    	position: absolute !important;
		right: 0 !important;
		left: 0 !important;
		margin: 0 auto;
		top: 100% !important;
		background: #005290;
	}
	#lang img {
		margin-left: -5px;
	}
	.search {
		position: absolute !important;
		right: 0 !important;
		left: 0 !important;
		margin: 0 auto;
		top: 100% !important;
		background: #005290;
		width: 40px !important;
		height: 40px;
		font-size: 14px !important;
	}
	#myCarousel2 .carousel-caption {
		display: none;
	}
	#myCarousel2 .item img{
		margin: 0 auto !important;
    	left: 0 !important;
    	right: 0 !important;
    	width: 150px;
    	height: 150px;
	}
	
}
@media (max-width: 640px) {
  	h1,.h1 {
    	font-size: 16px;
  	}
  	.nav_bar {
  		margin-left: 10px !important;
	}
	#myCarousel .carousel-caption p {
		display: none !important;
	}
}
@media screen and (max-width: 480px) {
	.nav_footer {
		font-size: 12px;
	}
}

.transition{
	display: none;
}
.navbar-toggle i {
	margin: 0 5px 0 0 !important;
	padding: 0 !important;
    width: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.navbar-header {
	display: flex !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 !important; 
}
.main-header.fixed {
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	line-height: 70px;
}
.logo {
	background: url("../images/logo.png") no-repeat;
	height: 48px;
    width: 188px;
    display: block;
    font-size: 0;
    margin: 36px 0 0;
    vertical-align: middle;
}
.logo:hover {
	opacity: .7;
}
.main-header.fixed .logo {
	background: url("../images/logo2.png") no-repeat;
	height: 18px;
    width: 110px;
    margin: 23px 0 0;
}
.main-header.fixed .lang {
	position: relative;
	display: none !important;
}
.lang{
	position: relative;
	right: 190px;
}

.main-header.fixed .navbar1 {
	position: relative;
	display: none ;
}
.main-header.fixed .navbar2 {
	font-size: 17px;
	font-weight: 600;
	margin-top: -53px;
	margin-right: 140px;
}
.dropdown {
	border-bottom: 10px solid rgba(0, 82, 144, 0);
}
.navbar2 {
	margin-top: 14px;
}
.navbar2 .dropdown-menu li {
	background-color: #00182b;
	border-top: 1px solid rgba(255,255,255,0.25);
	width: 200px !important;
	padding: 10px 5px;
}
.navbar2 .dropdown-menu li:hover {
	background-color: #005290;
}
.navbar2 .dropdown-menu li:hover a {
	background: none;
	color: #fff;
}
.navbar2 li a {
	color: #cdcdcc; 
}
/*.dropdown:hover .dropdown-menu{
	display: block;
}*/
.dropdown-menu {
	display: none;/*////none////*/
	margin-top: 5px !important;
	background: none !important;
	border: none !important;
}
.dropdown-menu li a > .active >.dropdown::before {
    content: '';
    position: absolute;
    border-bottom: 10px solid #FFF;
    left: 20px;
    right: 20px;
    bottom: -10px;
    z-index: 2;
}
.dropdown-menu li a:focus a{
  color: red !important;
  background-color: unset !important;
}
.search {
    background: #005290;
    width: 60px;
    line-height: 60px;
    text-align: center;
    padding: 5px 0 5px 0;
	font-size: 1.5em;
	position: relative !important;
	right: 40px;
}
.search a span {
	color: #FFF;
}
.search:hover{
	background:  #004072;
}
.search:hover span {
	color: #b2b9bf;
}
#myCarousel2 {
	padding: 30px 0 30px 0 !important;
}
#myCarousel2 ol li {
	background-color: #D5D5CF;
}
#myCarousel2 .carousel-indicators .active{
	background-color: #00182b;
}
.carousel-indicators li:hover {
    background-color: #00182b !important;
}
#myCarousel2 .item img {
	position: relative;
	left: 140px;
}
#myCarousel2 .carousel-indicators {
	bottom: 0 !important;
}
#myCarousel2 .carousel-caption {
	text-align: left !important;
	padding: 0 !important;
	margin: 0 !important;
	position: absolute !important;
	top: -25px !important;
	left: 300px !important;
	line-height: 1.5 !important;
}
#myCarousel2 .carousel-caption p{
	font-size: 12px;
    color: #666;
}
#myCarousel2 .carousel-caption h4 {
	color: #005290;
    font-size: 14px;
    font-weight: 600;
}
#myCarousel2 .carousel-caption h4:hover {
	color: #56a9de;
}
#myCarousel2 .carousel-caption h2 {
	font-size: 30px;
    color: #333;
    font-weight: 300 !important;
}
.carousel-control.right {
	background: none !important;
	top: 40% !important;
}
.carousel-control.left {
	background: none !important;
	top: 40% !important;
}
section {
	min-height: 1000px;
	height: auto;
	padding-bottom: 50px;
}
.row div.cols {
	margin: 10px 0 !important;
	height: 366px !important;
}
.row div.cols a:hover .homepage-tri-pods__pod__inner {
	background-color: #fff;
	color: #00182b;
	box-shadow: 0 0 8px 5px #D5D5CF;
}
.row div.cols a:hover .homepage-tri-pods__pod__inner:after {
	background: url(../images/next2.png) no-repeat;
	height: 51px;
    width: 29px;
	bottom: 144px;
    content: '';
    position: absolute;
    right: 40px;
}

.homepage-tri-pods__pod__img {
	background-position: left center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 120px !important;
}
.homepage-tri-pods__pod__inner {
	border-bottom: 10px solid #005290;
    padding: 2rem;
    background-color: #00182b;
    height:246px;
    color: #fff;
}
.cols a {
	text-decoration: none;
}
.homepage-tri-pods__pod__inner h2 {
	font-size: 21px;
}
.homepage-tri-pods__pod__inner p {
	font-size: 12px;
}
.homepage-tri-pods__pod__inner:after {
	background: url(../images/next.png) no-repeat;
	height: 51px;
	width: 29px;
	bottom: 144px;
	content: '';
	position: absolute;
}
footer {
	min-height: 378px;
	background-image: url("../images/footer-bg.png") !important; 
}
.social li a {
	margin: 0 5px 0 0 !important;
	padding: 0 !important;
	height: 40px;
    width: 40px;
    display: block;
    float: left;
    background: #05121b;
    text-align: center;
    line-height: 40px;
	color: #999999;
}
.social li .linkedin:hover {
	background-color: #007BB6 !important;
}
.social li .twitter:hover {
	background-color: #4099FF !important;
}
.social li .youtube:hover {
	background-color: #CD201F !important;
}
.fa {
  	position: relative;
  	top: 1px;
  	font-size: 1.4em;
  	color: #969696;
  	cursor: pointer;
}
.social li a:hover .fa{
	color: #fff;
}
.copyright {
	color: #7c7c7c;
    font-size: 0.7em;
}
.col_footer {
	padding-top: 30px !important;
	line-height: 1.9;
}
.col_footer ul {
	list-style: none;
}
.nav_footer {
	color: #969696 !important;
	line-height: 3 !important;
}
.col_footer a {
	text-decoration: none;
	color: #7c7c7c; 
}
.col_footer a:hover {
	 color: #56a9de;
}
.fixed-tab {
	position: fixed;
    top: 50%;
    right: 0;
    margin-top: -63px;
    z-index: 9999;
    display: none;
    width: 40px;
    height: 40px;
    background-color: #56a9de;
    text-align: center;
    line-height: 40px;
}
.fixed-tab:hover {
	background-color: #4587b2;
}
.fixed-tab i {
	color: #FFF !important;
	font-size: 1.5em;
}
.fixed_top {
	position: fixed;
    top: 50%;
    right: 0;
    display: block;
    margin-top: -63px;
    z-index: 9999;
}

#search1 {
	display: none;
}
.container_close {
	background-color: #00182b;
}
.colse_search {
	background-color: #005290;
    cursor: pointer;
    display: block; /*///////////*/
    height: 60px;
    width: 60px;
	z-index: 9999;
	float: right;
	text-align: center;
}
.colse_search i {
	top: -50%;
	color: #fff;
	font-size: 25px;
}
.container_form {
	height: 60px;
	background: #005290;
}
.search_submit {
	float: right;
	height: 60px;
	width: 60px;
	background-color: #005290;
	border: none;
	outline: none;
	position: relative;
	z-index: 999;
}
.search_submit i {
	position: absolute;
    top: 15px;
    right: 15px;
	color: #fff;
	font-size: 25px;
}
.search_name {
	position: absolute;
	width: 100%;
    margin: 0 auto;
    float: none;
    display: block;
    max-width: 1020px;
    height: 64px;
    border: 0;
    background: none;
    font-size: 1.9em;
    font-weight: 100;
    color: #FFF;
    z-index: 333;
    outline: none;
}
.j-content-center {
	justify-content: center;
}
.p-0 {padding: 0;}
